@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}
/* 전체 페이지 */
body {
  font-size: 18px;
}

.container {
  width: 100%;
}
.box1 {
  width: 100%;
  height: 500px;
  background-color: black;
}
.box2 {
  width: 100%;
  height: auto;
  background-color: white;
}
.box3 {
  width: 100%;
  height: 500px;
  background-color: black;
  margin-top: 50px;
}
.wbox {
  width: 70%;
  margin: 0 auto;
}

/* 상단 메뉴바 설정*/
.mainMenu {
  display: grid;
  grid-template-columns: 1.5fr 5.5fr 3fr;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.mainMenu > div {
  color: white;
  margin-top: 30px;
}

.centerMenu {
  padding: 40px;
}

.rightMenu {
  padding: 10px;
  cursor: pointer;
}

.menuReviewBtn {
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 0.8rem;
  padding: 5px 20px 5px 20px;
}

.mainMenu > div > span:hover {
  color: gray;
}

.title {
  background-color: black;
  font-size: 80px;
  font-weight: bold;
  color: white;
  padding-top: 200px;
}

.subMenu {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: start;
  align-items: center;
}

.subMenu > div {
  width: 250px;
  height: 50px;
  margin: 20px 20px 20px 0px;
  padding: 20px 20px 20px 0px;
  background-color: black;
  color: white;
  box-sizing: border-box;
  border-radius: 30px 30px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subMenu > div:hover {
  background-color: white;
  color: black;
}

.subMenu > div.active {
  background-image: linear-gradient(
    to right,
    #d63ef4,
    #619ede
  ); /* 그라디언트 지정 */
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
}

.cartIcon,
.mypageIcon {
  width: 30px;
  height: 30px;
}

.cartIcon > img,
.mypageIcon > img {
  width: 30px;
  height: 30px;
}

/* 관리자페이지  */
.adminDashboard {
  font-size: 40px;
  margin: 30px 0px 30px 0px;
  padding: 30px 0px 30px 0px;
  font-weight: bold;
}
.adminUserInformation {
  width: 100%;
}
.adminSubTitle {
  font-size: 38px;
  font-weight: bold;
  margin: 15px;
}
/* 테이블쪽 CSS */

table,
td {
  border: 1px solid black;
  text-align: center;
  height: 100px;
  font-size: 24px;
}
th {
  border: 1px solid black;
  text-align: center;
  font-size: 24px;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-spacing: 20px 20px;
}

.adminUserSaveBtn {
  width: 178px;
  height: 66px;
  background: black;
  color: white;
  border-radius: 25px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  line-height: 66px;
  float: right;
  margin: 20px 0;
}

/* 유저별 수강중인 강의 */
.userCourse {
  width: 1000px;
  margin: auto;
  border: 1px solid black;
  padding: 20px 20px;
}

.userCourseText {
  font-size: 25px;
  font-weight: bold;
}

.userCourseGrid {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr 1fr;
  padding: 20px 20px;
  justify-items: center;
}

.courseTeacherImg {
  width: 120px;
  height: 130px;
  border: 1px solid black;
}

.courseTitle,
.courseTeacherName,
.courseLecturePrice {
  line-height: 130px;
  font-size: 24px;
}

.userCourseModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center; /* 가로 중앙 정렬을 위해 */
}

.courseModal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1100px;
  max-height: 80vh;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.courseModalClose {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.courseModalClose:hover,
.courseModalClose:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* 강의별 유저 */
.courseUserSubTitle {
  font-size: 38px;
  font-weight: bold;
  margin-top: 180px;
}

.celloLectureUser,
.pianoLectureUser,
.guitarLectureUser,
.drumLectureUser {
  width: 100%;
  height: 300px;
  max-height: 500px;
  border: 1px solid black;
  margin: 20px 0;
  padding: 20px;
}

.courseUserGrid {
  display: grid;
  grid-template-columns: 9.8fr 0.2fr;
  margin-bottom: 20px;
}
.lectureUserTitle {
  font-size: 30px;
  font-weight: bold;
}
.courseUserArrow {
  font-size: 30px;
  font-weight: bold;
}
