<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>학원소개</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="box1">
        <div class="wbox mainMenu">
          <div>
            <a href="index.html"
              ><img
                src="https://w7.pngwing.com/pngs/158/995/png-transparent-u5f69u8272u92fcu7434-piano-graphy-illustration-color-piano-color-splash-furniture-text.png"
                class="logo"
            /></a>
          </div>
          <div>
            <span class="centerMenu"><a href="about.html">학원소개</a></span>
            <span class="centerMenu"><a href="course.html">수강안내</a></span>
            <span class="centerMenu"
              ><a href="enrollment.html">수강신청</a></span
            >
            <span class="centerMenu"><a href="customer.html">고객센터</a></span>
          </div>

          <div>
            <span class="rightMenu"><a href="review.html">수강후기</a></span>
            <span class="rightMenu">
              <a href="mypage.html"
                ><img
                  src="https://c2.klipartz.com/pngpicture/507/813/sticker-png-people-icon-man-icon-people-icon-man-shape-icon-white-people-logo-name-user.png"
                  alt=""
                  class="mypageIcon"
              /></a>
            </span>
            <span class="rightMenu">
              <a href="cart.html"
                ><img
                  src="https://w7.pngwing.com/pngs/742/249/png-transparent-shopping-cart-bag-shopping-cart-thumbnail.png"
                  alt=""
                  class="cartIcon"
              /></a>
            </span>
            <span class="rightMenu">로그아웃</span>
          </div>
        </div>
        <div></div>
        <div class="wbox title">
          <div>ABOUT</div>
        </div>
        <div class="wbox subMenu">
          <div class="historyBtn">연혁</div>
          <div class="teacherBtn">강사소개</div>
        </div>
      </div>
      <div class="box2">
        <div class="wbox historyBox">
          <div class="historyTitle">Peniel Academy</div>
          <div class="historyBox1">
            <div class="historyImg"></div>
            <div class="historyText1">
              브니엘
              아카데미는 비전을 품고 자신의 재능을 개발시키고자 하는 청소년들에게 바른 방향성을 제시하고 지속적인 음악적 능력 향상을 목표로 체계적인 트레이닝과 관리를 통해 예고, 예대 실용음악학과 및 관련학과 진학 컨설팅은 물론 각종 기획사/방송국과 협력하여 오디션 등의 진행 및 다채로운 행사를 개최하며 참 음악인으로 거듭날 수 있는 장을 펼쳐가고 있습니다.
            </div>
          </div>
          <div class="historyText2">
            Lorem ipsum dolor sit amet. Sit ratione reiciendis est quidem libero
            eos quas quia est obcaecati atque nam illum quia. Aut pariatur omnis
            ut neque deleniti non voluptas accusamus est recusandae vitae ea
            officia consectetur. Et dolores ipsam sed laborum consectetur ut
            cupiditate voluptate rem quam magnam At Quis inventore ut veniam
            accusantium qui voluptatum voluptas. Ea optio fugit non nesciunt
            alias nam animi sequi qui doloremque debitis sed voluptatem
            voluptate. Ad exercitationem quis aut ipsum atque et odio corrupti
            qui necessitatibus consequatur id voluptates minus in modi dolorem
            et explicabo mollitia. Et rerum iste aut odio inventore in maiores
            velit et dicta inventore sed odio consequatur. Ea rerum beatae in
            incidunt voluptas et provident voluptas et commodi velit. Quo dolore
            dicta id voluptatem reprehenderit et harum voluptatibus et iure
            neque ut maiores mollitia et saepe iure! Et sint saepe quo quae iure
            et quia pariatur et porro fugiat ut ipsum Quis est deserunt
            voluptatem aut quos temporibus.
          </div>
        </div>

        <div class="wbox teacherBox hidden">
          <div class="teacherTitle">강사진</div>
          <div class="teacher">
            <div class="teacherInfo">
              <div class="teacherPicture">
                <img
                  src="https://cfa.hongik.ac.kr/front/detail/major5/rlagustjr.jpg"
                />
                <div class="teacherPictureColor"></div>
              </div>
              <div class="teacherName">강사명</div>
              <div class="teacherSubject">과목명</div>
            </div>
            <div class="teacherInfo">
              <div class="teacherPicture"></div>
              <div class="teacherName">강사명</div>
              <div class="teacherSubject">과목명</div>
            </div>
            <div class="teacherInfo">
              <div class="teacherPicture"></div>
              <div class="teacherName">강사명</div>
              <div class="teacherSubject">과목명</div>
            </div>
            <div class="teacherInfo">
              <div class="teacherPicture"></div>
              <div class="teacherName">강사명</div>
              <div class="teacherSubject">과목명</div>
            </div>
            <div class="teacherInfo">
              <div class="teacherPicture"></div>
              <div class="teacherName">강사명</div>
              <div class="teacherSubject">과목명</div>
            </div>
            <div class="teacherInfo">
              <div class="teacherPicture"></div>
              <div class="teacherName">강사명</div>
              <div class="teacherSubject">과목명</div>
            </div>
          </div>
        </div>

        <div class="wbox singleTeacherBox hidden">
          <div class="singleTeacherTitle">강사명</div>
          <div class="singleTeacher">
            <div class="singleTeacher1">
              <img
                src="https://cfa.hongik.ac.kr/front/detail/major5/rlagustjr.jpg"
              />
              <div class="singleTeacherInfo">강사이름</div>
              <div class="singleTeacherInfo">과목명</div>
              <div class="singleTeacherInfo">이메일</div>

              <div class="singleTeacherText">
                김현석교수는 시각디자인과 영상디자인분야의 교육 및 실무를
                진행하면서 다양한 외부활동을 하고 있다. 미국 디자인에이전시
                Mindstack에서 Sr. Designer로 근무하였고 이후 미국 Yahoo!
                본사에서 User Experience Design 의 Design Manager로 근무하며
                2002년 한일 월드컵 공식사이트 및 2006년 독일월드컵 공식사이트
                디자인을 총괄하였다. 이후 홍익대학교 교수로 재직하며 홍익대
                영상대학원 원장, 국제디자인협회(International Design Council)의
                부회장을 역임하였다. 삼성전자 디자인맴버쉽 자문교수,
                한국공항공사 자문위원, 디자인학회 부회장, Archives of Design
                Research 편집위원, Asia Digital Arts and Design Association 회장
                등 다양한 외부활동을 진행중이다.
              </div>
            </div>
            <div class="singleTeacher2">
              <div>
                Major
                <hr />
                영상디자인, 사용자경험디자인, 인터랙션디자인, 서비스디자인
              </div>
              <div>
                Biography
                <hr />
                2014 서울대학교 박사 수료 <br />
                1999 American Film Institute 석사 <br />
                1997 홍익대학교 석사 <br />
                1995 홍익대학교 학사 <br />
                2012-현, Asia Digital Arts and Design Association 회장<br />
                2015-현, 한국디자인학회 부회장<br />
                2014-현, 삼성디자인맴버쉽 자문교수 <br />
                2012-현, 한국융복합디자인협회 부회장 <br />
                2013-현, Archives of Design Research 편집위원 <br />
                2017-현, 한국공항공사 자문위원<br />
                2012-현, 한국HCI학회 상임이사 <br />
                2014-16 International Council of Design 부회장 <br />
                2013-14 삼성전자 DMC자문위원 <br />
                2013 HCI Korea Conference 공동조직위원장 <br />
                2008-11 미국 Webby Awards 한국 홍보대사
              </div>
              <div>
                Works
                <hr />
                2017 < 소리X글자: 한글디자인 >, LA한국문화원 <br />2017
                미래에셋대우 HTS/MTS 디자인 개발, 미래에셋대우 <br />
                2016 < 훈민정음과 디자인전 >, 국립한글박물관 <br />
                2016 < 미술과 도시, 도시와 미술 > 기획전 전시영상제작,
                국립중앙박물관 <br />
                2014 < 청바지 > 특별전 전시영상제작, 국립민속박물관 <br />
                2014 차량 전장장치에 대한 HMI 평가기법 연구, 현대자동차 <br />
                2013 < 쉼 > 특별전 전시영상제작, 국립민속박물관 <br />
                2013 상황인지 UX 시나리오 개발, 삼성전자 <br />
                2013 차량용 신기술 심볼 디자인 평가방법 연구, 현대자동차 <br />
                2013 AR기반 인터페이스 사용자 시나리오 제안, LG전자 <br />
                2012 멀티모달 인터페이스 사용자 시나리오 제안, LG전자 <br />
                2011 N-Screen 사용자 시나리오 제안, LG전자 <br />
                2010 차세대 모바일 UI 제안, LG전자 <br />
                2010 중국연변박물관 상설전시 전시영상 제작, 중국연변박물관
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box3"></div>
      <div class="footer">
        <h3>FOOTER</h3>
      </div>
    </div>
    <script src="js/about.js"></script>
  </body>
</html>
