<!DOCTYPE html>
<html lang="kr">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/admin.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <title>관리자페이지</title>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="box1">
      <div class="wbox mainMenu">
        <div>
          <a href="index.html"><img src="/img/로고3.png" class="logo" /></a>
        </div>
        <div>
          <span class="centerMenu"><a href="about.html">학원소개</a></span>
          <span class="centerMenu"><a href="course.html">수강안내</a></span>
          <span class="centerMenu"><a href="enrollment.html">수강신청</a></span>
          <span class="centerMenu"><a href="customer.html">고객센터</a></span>
        </div>

        <div class="rightMenuBx">
          <span class="rightMenu menuReviewBtn"><a href="review.html">수강후기</a></span>
          <span class="rightMenu">
            <a href="mypage.html"><img src="/img/마이페이지.png" alt="" class="mypageIcon" /></a>
          </span>
          <span class="rightMenu">
            <a href="cart.html"><img src="/img/장바구니.png" alt="" class="cartIcon" /></a>
          </span>
          <span class="rightMenu menuLogoutBtn">로그아웃</span>
          <span class="rightMenu menuLoginBtn"><a href="login.html">로그인</a></span>
        </div>
      </div>
      <div></div>
      <div class="wbox title">
        <div>ADMIN</div>
      </div>
      <div class="wbox subMenu">
        <div class="adminPageBtn active">관리자페이지</div>
        <div class="noticeWriteBtn">공지사항 등록</div>
      </div>
    </div>
    <div class="box2">
      <div class="progress-container"></div>
      <div class="wbox adminPageBox">
        <div class="adminDashboard">관리자 대시보드</div>
        <div class="adminUserInformation">
          <div class="adminSubTitle">유저정보</div>
          <div class="adminUserTable">
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>이름</th>
                  <th>닉네임</th>
                  <th>성별</th>
                  <th>주소</th>
                  <th>생년월일</th>
                  <th>이메일</th>
                  <th>휴대폰번호</th>
                  <th>장르</th>
                </tr>
              </thead>
              <tbody class="tbody"></tbody>
            </table>
          </div>
        </div>
        <div class="courseUserSubTitle">강의별 유저보기</div>
        <div class="lectureCourseUserGrid">
          <div class="celloLectureUser">
            <div class="courseUserGrid">
              <div class="lectureUserTitle">첼로</div>
            </div>
            <div class="lectureUserTitleDown">
              <p class="celloLectureUserName"></p>
            </div>
          </div>
          <div class="pianoLectureUser">
            <div class="courseUserGrid">
              <div class="lectureUserTitle">피아노</div>
            </div>
            <div class="lectureUserTitleDown">
              <p class="pianoLectureUserName"></p>
            </div>
          </div>
          <div class="guitarLectureUser">
            <div class="courseUserGrid">
              <div class="lectureUserTitle">기타</div>
            </div>
            <div class="lectureUserTitleDown">
              <p class="guitarLectureUserName"></p>
            </div>
          </div>
          <div class="drumLectureUser">
            <div class="courseUserGrid">
              <div class="lectureUserTitle">드럼</div>
            </div>
            <div class="lectureUserTitleDown">
              <p class="drumLectureUserName"></p>
            </div>
          </div>
        </div>
      </div>
      <div id="courseModal" class="userCourseModal">
        <div class="courseModal-content">
          <span class="courseModalClose">&times;</span>
          <div class="userCourse">

          </div>
        </div>
      </div>
    </div>
    <!-- 공지사항 등록 -->
    <div class="wbox noticeWriteBox hidden">
      <div class="noticeBox1">공지사항 등록</div>
      <textarea class="noticeWriteBox1" placeholder="제목을 입력해주세요."></textarea>
      <textarea class="noticeWriteBox2" placeholder="내용을 작성해주세요."></textarea>
      <div class="noticeWriteBox3">글쓰기</div>
    </div>
  </div>
  <div id="myAlertModal" class="alertModal">
    <div class="alertModal-content">
      <p id="alertModalMessage"></p>
      <div class="alertModalBtn">
        <button id="alertConfirm">확인</button>
        <button class="alertClose">취소</button>
      </div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-content">
      <div class="footer-circles">
        <a href="https://github.com/afoisl/Spring/tree/main/majorflow" target="_blank">
          <div class="footer-circle git"></div>
        </a>
        <a href="https://www.figma.com/design/9zUur1Qqs19KoHCF75tKWP/1%EC%B0%A8%ED%94%84%EB%A1%9C%EC%A0%9D%ED%8A%B8_%EC%99%80%EC%9D%B4%EC%96%B4%ED%94%84%EB%A0%88%EC%9E%84?node-id=0-1"
          target="_blank">
          <div class="footer-circle figma"></div>
        </a>
      </div>
      <div class="footer-info">
        <p>주소: 대전 중구 중앙로121번길 20 방산빌딩</p>
        <p>연락처: 0507-1422-2402</p>
      </div>
    </div>
  </div>
  </div>
  <script src="/js/admin.js"></script>
</body>

</html>