<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>장바구니</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="box1Cart">
        <div class="wbox mainMenu">
          <div>
            <a href="index.html"
              ><img
                src="https://w7.pngwing.com/pngs/158/995/png-transparent-u5f69u8272u92fcu7434-piano-graphy-illustration-color-piano-color-splash-furniture-text.png"
                class="logo"
            /></a>
          </div>
          <div>
            <span class="centerMenu"><a href="학원소개.html">학원소개</a></span>
            <span class="centerMenu"><a href="수강안내.html">수강안내</a></span>
            <span class="centerMenu"><a href="수강신청.html">수강신청</a></span>
            <span class="centerMenu"><a href="고객센터.html">고객센터</a></span>
          </div>

          <div>
            <span class="rightMenu"><a href="수강후기.html">수강후기</a></span>
            <span class="rightMenu">
              <a href="마이페이지.html"
                ><img
                  src="https://c2.klipartz.com/pngpicture/507/813/sticker-png-people-icon-man-icon-people-icon-man-shape-icon-white-people-logo-name-user.png"
                  alt=""
                  class="mypageIcon"
              /></a>
            </span>
            <span class="rightMenu">
              <a href="장바구니.html"
                ><img
                  src="https://w7.pngwing.com/pngs/742/249/png-transparent-shopping-cart-bag-shopping-cart-thumbnail.png"
                  alt=""
                  class="cartIcon"
              /></a>
            </span>
          </div>
        </div>
        <div class="cartBox">
          <div class="cartBox1">
            <div class="cartBox2">Text</div>
            <div class="cartBoxLine"></div>
            <div class="cartBox3">Text</div>
          </div>
          <div class="cartBox1">
            <div class="cartBox2">Text</div>
            <div class="cartBoxLine"></div>
            <div class="cartBox3">Text</div>
          </div>
          <div class="cartBox4">
            <div class="cartBox4-1">Text</div>
            <div class="cartBoxLine"></div>
            <div class="cartBox4-2">Text</div>
          </div>
          <div class="cartBox5">
            <input type="checkbox" />
            <div class="cartBox5-1">Text</div>
          </div>
          <div class="cartBox6">Button</div>
        </div>
      </div>

      <div class="footer">
        <h3>FOOTER</h3>
      </div>
    </div>
    <script src="js/cart.js"></script>
  </body>
</html>
