<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <title>학원소개</title>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.7.2/dist/axios.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="box1">
        <div class="wbox mainMenu">
          <div>
            <a href="index.html"
              ><img
                src="https://w7.pngwing.com/pngs/158/995/png-transparent-u5f69u8272u92fcu7434-piano-graphy-illustration-color-piano-color-splash-furniture-text.png"
                class="logo"
            /></a>
          </div>
          <div>
            <span class="centerMenu"><a href="about.html">학원소개</a></span>
            <span class="centerMenu"><a href="course.html">수강안내</a></span>
            <span class="centerMenu"
              ><a href="enrollment.html">수강신청</a></span
            >
            <span class="centerMenu"><a href="customer.html">고객센터</a></span>
          </div>

          <div>
            <span class="rightMenu"><a href="review.html">수강후기</a></span>
            <span class="rightMenu">
              <a href="mypage.html"
                ><img
                  src="https://c2.klipartz.com/pngpicture/507/813/sticker-png-people-icon-man-icon-people-icon-man-shape-icon-white-people-logo-name-user.png"
                  alt=""
                  class="mypageIcon"
              /></a>
            </span>
            <span class="rightMenu">
              <a href="cart.html"
                ><img
                  src="https://w7.pngwing.com/pngs/742/249/png-transparent-shopping-cart-bag-shopping-cart-thumbnail.png"
                  alt=""
                  class="cartIcon"
              /></a>
            </span>
            <span class="rightMenu">로그아웃</span>
          </div>
        </div>
        <div></div>
        <div class="wbox title">
          <div>MY PAGE</div>
        </div>
        <div class="wbox subMenu">
          <div class="progressBtn">나의 진도율</div>
          <div class="gradeBtn">성적확인</div>
        </div>
      </div>
      <div class="box2">
        <div class="wbox progressBox">
          <div class="progressTitle">조수아님의 진도율</div>
          <div class="selectSearchBox">
            <div class="selectSubjectBtn">과목선택</div>
            <div class="searchSubjectBtn">과목명 검색</div>
            <div class="searchIcon"></div>
          </div>
          <div class="progressTitleBox">
            <div class="progressSubjectName">Text</div>
            <div class="progressSubjectInfo">Text</div>
          </div>
          <div class="progressInfoBox">
            <div class="progressInfo">
              <div class="progressInfoStudent">나의 진도율 00%</div>
              <div class="progressInfoGraph">
                <div class="progressInfoGraphColor"></div>
              </div>
            </div>
            <div class="progressInfo">
              <div class="progressInfoStudent">수강생 평균 진도율 00%</div>
              <div class="progressInfoGraph">
                <div class="progressInfoGraphColor"></div>
              </div>
            </div>
            <div></div>
          </div>
        </div>
        <div class="wbox gradeBox hidden">
          <div class="gradeTitle">조수아님의 성적현황</div>
          <div class="gradeInfoBox">
            <div class="gradeSubjectName">Text</div>
            <div class="gradeSubjectInfo">Text</div>
          </div>
        </div>
      </div>
      <div class="box3"></div>
      <div class="footer">
        <h3>FOOTER</h3>
      </div>
    </div>
    <script src="/js/mypage.js"></script>
  </body>
</html>
